<footer style="text-align: center" class="mt-5">
				<hr>
        <p>
      	&copy; 2019 TCC- Upload biografias de funcionários homenagiados
	    	&middot;
      	<a target="_blank" href=""> GitHub</a>
      	</p>
</footer>