<div class="card mt-4">
    <div class="card-header">
    <h3>
    Painel do gestor: </h3>
  </div>
<a href="/manager_panel/managepage"><button class="btn btn-success mt-3">Gerenciar páginas</button></a>

<a href="/admin_panel/backupscreen"><button class="btn btn-success mt-3">Fazer Backup</button></a>
</div>
</div>