

<div class="card mt-4">
    <div class="card-header">
    <h3>Painel do Administrador</h3>
  </div>
  <div class="card-body">

<a href="/admin_panel/manageuser"><button class="btn btn-success mt-3">Gerenciar contas</button></a>

<a href="/admin_panel/logscreen"><button class="btn btn-success mt-3">Visualizar LOGS</button></a>

<a href="/admin_panel/backupscreen"><button class="btn btn-success mt-3">Fazer Backup</button></a>

</div>
</div>